/* Margens padrão (desktop) */
h1 {
    font-size: 1.8em;
    font-weight:600;
    text-transform: capitalize;
}

.custom-margins {
    margin: 10% 20%; 
}

@media screen and (max-width: 1024px) {
    .custom-margins {
        margin: 20% 10%;
    }
}

@media screen and (max-width: 400px) {
    .custom-margins {
        margin: 10% 5%;
    }
}